.bundle/
vendor/bundle
node_modules/
.node_modules/
**/.git*
tmp/
log/
test/
engines/**/log/
engines/**/tmp/
public/assets
public/packs
public/packs-test
yarn-error.log
coverage/
.env
.DS_Store
.bin
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
config/deploy
