<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style='width: 1280px;'>
  <div id="map" style='width: 1280px; height: 720px;'></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :maps, :api_key) %>&callback=initMap" async defer></script>
<div><%= @hash.to_json%></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 2
        });

        var markers = <%= raw @hash.to_json %>;
        markers.forEach(function (marker) {
            var marker = new google.maps.Marker({
                position: marker,
                map: map,
                title: marker['identifier']
            });
        });
    }
</script>
</body>
</html>